<div class="container text-center">
    <div class="row">
        <h1 style="color:orange">PENDIENTE</h1>
        <div class="col">
            <label >PENDIENTE:</label>
            <br>
            <input type="text" >
            <br>
            <label >PENDIENTE: </label>
            <br>
            <input type="number" >
            <br>
        </div>
        <div class="col">
          <label >PENDIENTE: </label>
          <br>
          <input type="text" >
          <br>
        </div>
        <h1></h1>
        <div class="justify-content-lg-between">
          <button type="button" class="btn btn-outline-warning">PENDIENTE</button>
          <button type="button" class="btn btn-outline-danger">PENDIENTE</button>
        </div>
    </div>
  </div>
