<!-- DETALLE PRODUCTO --- HOME  -->

<h2 class="text-center" style="color: orange">ESTOS SON LOS PAQUETES QUE TIENE EN SU CARRITO</h2>
<h5 style="color: orange">Cantidad de paquetes: {{ pags.length }}</h5>
  <table class="table">
    <thead class="table-dark">
        <tr>
            <th>TOURS</th>
            <th>DESCRIPCION</th>
            <th>PRECIO</th> 
            <th></th>  
        </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr class="table-light" *ngFor="let paquete of pags ; index as i">
          <td class="tour">{{ paquete.tour }}</td>
          <td class="descripcion">{{ paquete.descripcion }}</td>
          <td class="precio">{{ paquete.precio }}</td>
          <td>  <button class="btn btn-outline-danger" (click)="eliminarPaquete(i)">Eliminar</button></td>
      </tr>
  </tbody>
  </table>

  <!-- <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/assets/img/Palcoyo.jpg" class="img-fluid" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/assets/img/Palcoyo.jpg" class="img-fluid" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/assets/img/valle.jpg" class="img-fluid" alt="...">
      </div>
    </div>
  </div> -->


