<div class="container text-center">
  <div class="row">
      <div class="col" >
        <div class="card" style="width: 18rem;">
            <img src={{paquetes[0].img}} class="card-img-top" alt="">
            <div class="card-body">
              <h5 class="card-title">{{paquetes[0].tour}} </h5>
              <p class="card-text">{{paquetes[0].descripcion}} </p>
              <p class="card-text"> <span>$</span>{{paquetes[0].precio}} </p>
              <button href="#" class="btn btn-warning" (click)="nuevoPaquete()">Agregar</button>
            </div>
        </div>
      </div>
      <div class="col" >
          <div class="card" style="width: 18rem;">
            <img src={{paquetes[1].img}} class="card-img-top" alt="">
            <div class="card-body">
              <h5 class="card-title">{{paquetes[1].tour}} </h5>
              <p class="card-text">{{paquetes[1].descripcion}} </p>
              <p class="card-text"> <span>$</span>{{paquetes[1].precio}} </p>
              <button href="#" class="btn btn-warning" (click)="nuevoPaquete()">Agregar</button>
            </div>
          </div>
      </div>
      <div class="col" >
          <div class="card" style="width: 18rem;">
            <img src={{paquetes[2].img}} class="card-img-top" alt="">
            <div class="card-body">
              <h5 class="card-title">{{paquetes[2].tour}} </h5>
              <p class="card-text">{{paquetes[2].descripcion}} </p>
              <p class="card-text"> <span>$</span>{{paquetes[2].precio}} </p>
              <button href="#" class="btn btn-warning" (click)="nuevoPaquete()">Agregar</button>
            </div>
          </div>
      </div>
  </div>    
</div>

  <table class="table">
    <thead>
        <tr>
            <th>TOURS</th>
            <th>PAQUETE</th>
            <th>DESCRIPCION</th>
            <th>PRECIO</th> 
            <th></th>  
        </tr>
    </thead>

    <tbody class="table-group-divider">
        <tr *ngFor="let carro of paquetes ;index as i">
            <td>{{ carro.img}}</td>
            <td>{{ carro.tour }}</td>
            <td>{{ carro.descripcion }}</td>
            <td>{{ carro.precio }}</td>
            <td>  <button class="btn btn-outline-danger" (click)="eliminarPaquete(i)">Eliminar</button></td>
        </tr>
    </tbody>
  </table>

  <div class="container text-center">
    <div class="row">
        <h1 style="color:orange">Datos del Pago</h1>
        <div class="col">
            <label >Numero de tarjeta:</label>
            <br>
            <input type="text" >
            <br>
            <label >Cod. Seguridad: </label>
            <br>
            <input type="number" >
            <br>
        </div>
        <div class="col">
          <label >Fecha de Caducidad: </label>
          <br>
          <input type="text" >
          <br>
        </div>
        <h1 style="color:orange">Informacion de Facturacion</h1>
        <div class="col">
            <label >Nombres: </label>
            <br>
            <input type="number" >
            <br>
            <label >Apellidos: </label>
            <br>
            <input type="text" >
            <br>
            <label >Cod. Postal o Zip: </label>
            <br>
            <input type="text" >
            <br>
            <label >Pais: </label>
            <br>
            <input type="text" >
            <br>
        </div>
        <div class="col">
            <label >Localidad: </label>
            <br>
            <input type="text" >
            <br/>
            <label >Direccion de Facturacion: </label>
            <br>
            <input type="text" >
            <br/>
            <label >Direccion de Facturacion (segunda linea): </label>
            <br>
            <input type="text" >
            <br/>
            <label >Telefono: </label>
            <br>
            <input type="text" >
            <br/>
        </div>
        <h1></h1>
        <div class="justify-content-lg-between">
          <button type="button" class="btn btn-outline-warning">Aceptar</button>
          <button type="button" class="btn btn-outline-danger">Cancelar</button>
        </div>
    </div>
  </div>