<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a style="color: orange" class="navbar-brand"  routerLink="/" >
        <img class="logo" src="https://cdn-icons-png.flaticon.com/512/2060/2060284.png" width ="28" >CUSCO CITY TOURS
      </a>
      <button class="navbar-toggler" type="button" (click)="collapse.toggle()" data-bs-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <ngx-navbar-collapse #collapse="ngxNavbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" routerLink="/galeria" aria-current="page" routerLinkActive="active" (click)="collapse.toggle()">Paquetes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/detalleProducto" routerLinkActive="active" (click)="collapse.toggle()">Carrito</a>
            </li>
            <li class="nav-item dropdown" dropdown>
                <a class="nav-link dropdown-toggle" dropdownToggle id="categoriaDropdown" role="button" aria-controls="dropdownCategoria">
                  Categorias
                </a>
                <ul class="dropdown-menu" id="dropdownCategoria" *dropdownMenu aria-labelledby="categoriaDropdow">
                  <li><a class="dropdown-item" >categoria 01</a></li>
                  <li><a class="dropdown-item" >categoria 02</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" >Mas</a></li>
                </ul>
            </li>

            <!-- PARTE DE LA CLASE -->
            <li class="nav-item">
              <a class="nav-link" routerLink="/home" (click)="collapse.toggle()">home</a>
            </li>
            <li class="nav-item dropdown" dropdown>
              <a class="nav-link dropdown-toggle" dropdownToggle role="button" data-bs-toggle="dropdowm" aria-controls="dropdownCategoria">
                Cursos
              </a>
              <ul class="dropdown-menu" *dropdownMenu >
                <li><a class="dropdown-item" (click)="collapse.toggle()" routerLink="/cursosCortos">Cursos Cortos</a></li>
                <li><a class="dropdown-item" (click)="collapse.toggle()">Otra accion</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item">Mas</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled">Disabled</a>
            </li>
          </ul>
        </ngx-navbar-collapse>
    </div>
  </nav>
